<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>All Student</title>
</head>
<body>
    <form action="/doSearch" method="post">
        Name <input type="text" name="txtName" id="">
        <input type="submit" value="Search">
    </form>
    <br>
    <a href="insert">New Student</a>
    <hr>
    <table class="table bordered">
        <thead>
             <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Weight</th>
              <th>Delete</th>
            </tr>
        </thead>
        {{#each model}}
        <tr>
            <td>{{_id}} </td>
            <td>{{name}}</td>
            <td>{{weigh}}</td>
            <td><a href="/delete?id={{_id}}">Delete</a></td>
        </tr>
        {{/each}}
    </table>

</body>
</html>