<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
</head>
<body>
    <form action="/doInsert" method="post">
        Name <input type="text" name="txtName" id="">
        <br>
        Weight <input type="text" name="txtWeight" id="">
        <br>
        <input type="submit" value="Insert">
    </form>
</body>
</html>