<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Insert Student</title>
</head>

<body style="background-image: url(https://ak.picdn.net/shutterstock/videos/1024852352/thumb/11.jpg);">
    <form action="/doInsert" method="POST"
        style="width: 30%; margin-left: 475px; border: 1px solid; padding: 10px; border-radius: 10px;">
        <div class="form-group">
            <label style="color: wheat;" for="name">Name of product:</label>
            <input type="text" class="form-control" name="txtName" id="name">
        </div>
        <div class="form-group">
            <label style="color: wheat;" for="price">Price:</label>
            <input type="text" class="form-control" name="txtPrice" id="price">
        </div>
        <div class="form-group">
            <label style="color: wheat;" for="image">image:</label>
            <input type="text" class="form-control" name="txtImage" id="image">
        </div>
        <div class="form-group">
            <labe style="color: wheat;" for="description">Description:</label>
                <input type="text" class="form-control" name="txtDes" id="des">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</body>

</html>